/*
General, Normal Desktop Display
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F4F6;
    margin: 0px;
    font: caption;
    color: #111827;
}

ul li {
    list-style: none;
    margin-right: 30px;
}
ul.ul {
    padding: 0;
}
ul.mobile li {
    padding: 0;
}
li.second {
    margin-left: 0px;
}
ul li a {
    font-size: 12px;
}
.active {
    color: #fff;
    font-weight: bold;
}
.no-active {
    color: #e3e5e9
}
a {
    color: white;
    text-decoration: none;
}
.nav {
    background: -webkit-linear-gradient(to right, #075985, #0891B2);
    background: linear-gradient(to right, #075985, #0891B2);
    padding: 0;
}

.bar-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    line-height: 80px;
    display: none;
}

.container-nav,
.ul,
.container-main_section_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 80px;
}

.container-actions {
    display: none;
}

.img-logo {
    width: 15px;
    height: 40px;
    margin-bottom: 15px;
}

.img-campana {
    width: 20px;
}

.img-header {
    width: 32px;
    height: auto;
}

.container-nav-items {
    padding-bottom: 70px;
}

.container-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 80px;
    margin-bottom: -25px;
}

button.search {
    height: 40px;
    border: none;
    background: #1d9ac0;
    color: white;
    border: 0;
    padding: 13px;
    font-size: 15px;
    margin-left: -20px;
    border-left: none;
    border-radius: 4px 0px 0px 4px;
}
hr, .hr-header {
    border: none;
    border-top: 1px solid #d5d7da;
}
.hr-header {
    border-top: 2px solid #3163c9;
}
.hr {
    width: 20px;
    transform: rotate(270deg);
    margin-left: -6px;
    margin-right: -5px;
}
input[type="search"] {
    width: 200%;
    height: 40px;
    border-radius: 3px;
    border: none;
    padding: 0px 10px;
    background-color: #1d9ac0;
    margin-right: -15px;
}

input[type="search"]::placeholder {
    color: white;
}
.input {
    display: none;
}
.btns {
    border: 1px solid #d3d7da;
}

.container-hr {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: -15px;
}

.section-container-info {
    z-index: 2;
    position: relative;
    top: -115px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.section-container-info_user,
.section-container-info_user-perfil {
    display: flex;
    justify-content: space-between;
}

.section-container-info_user {
    display: flex;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}

.section-container-info_user-perfil {
    padding: 0px 20px;
}

.img-employer {
    width: 80px;
    height: 80px;
    margin-left: 18px;
    margin-right: 18px;
}

.img-services {
    width: 45px;
    height: 45px;
}

.img-arrow {
    width: 20px;
    height: auto;
    margin-left: 18px;
}

.section-container-info_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-top: ridge #f6f8fa;
    background: #F3F4F6;
    border-radius: 0 0 10px 10px;
}

.section-container-info_user-btn {
    margin: 40px 0px 40px 0px;
}

.btn-perfil {
    width: 100px;
    height: 40px;
    border-color: #d3d7da;
    background: white;
    border-radius: 5px;
}

.work1,
.work2,
.work3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.work1,
.work2 {
    border-right: ridge;
}



.section-container-info_services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-container-info_services_item.left {
    border-left: 1px solid #6b728170;
}

.section-container-info_services_item.top {
    border-top: 1px solid #6b728170;
}

.section-container-info_services_item {
    padding: 30px 30px 30px 30px;
}
.section-container-info_services_item div p, .section-container-info_other-noti p, .section-container-info_other-works .small{
    color: #6B7280;
    margin-bottom: 10px;
}
.section-container-info_services_item div h3{
    margin-bottom: 10px;
}
.section-container-info_services_item-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.section-container-info {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
}

.section-container-info_other {
    margin-top: -55px;
    width: 400px;
}

.section-container-info_perfil-all {
    width: 900px;
    padding-right: 30px;
}
.section-container-info_user-perfil_item {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px;
}
.section-container-info_other-noti,
.section-container-info_other-works {
    padding: 20px 20px 20px 20px;
}

.section-container-info_other-works h3,
.section-container-info_other-works div img,
.section-container-info_other-works div small,
.section-container-info_other-works hr {
    margin-bottom: 15px;
}

.section-container-info_other-noti h3,
.section-container-info_other-noti h4,
.section-container-info_other-noti hr {
    margin-bottom: 20px;
    margin-top: 12px;
}

.section-container-info_other-works_item,
.section-container-info_other-works_item-work {
    display: flex;
    align-items: center;
    width: 100%;
}

.section-container-info_other-works_item-info {
    margin: 0px 7px;
}

.section-container-info_other-works_item-info h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.img-work {
    width: 45px;
    height: 45px;
}

.section-container-info-item-2,
    .section-container-info_services,
    .section-container-info_other-noti,
    .section-container-info_other-works {
        background-color: white;
        border-radius: 10px;
    }

.section-container-info_services {
    height: 720px;
}

.mar {
    border: 2px solid #9ca1ac70;
    margin-top: 18px;
}

.btn-other {
    width: 100%;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    border-color: #e8ebee;
    border-width: 2px;
}

.btn-go {
    width: 19%;
    height: 22px;
    background-color: white;
    border-radius: 8px;
    border-color: #e8ebee;
    border-width: 2px;
}
@media (max-width: 768px) {
    .section-container-info {
        display: block;
        grid-template-columns: repeat(1, 1fr);
    }
    .section-container-info_perfil-all {
        width: 100%;
        padding: 0;
    }
    .section-container-info_other {
        width: 100%;
    }
    .section-container-info_other-noti {
        margin-top: 70px;
    }
    .input-search {
        display: none;
    }
    .hr {
        position: fixed;
        width: 5%;
        transform: rotate(270deg);
        margin-left: 8px;
    }
}
@media (max-width: 576px) {
    body {
        background: white;
    }
    .nav {
        background-color: #075985;
        padding: 0;
    }
    .container-main_section_links {
        background: linear-gradient(to right, #b6def3, #e1eaec);
        position: fixed;
        left: 100%;
        top: 70px;
        width: 100%;
        height: calc(100% - 65px);
        transition: left 0.5s;
    }
    .is-down {
        backdrop-filter: blur(5px);
    }
    .container-main_section_links_nav-visible {
        display: flex;
        flex-direction: column;
        padding: 15px;
        left: 0;
    }

    #bar-toggle {
        outline: none;
    }

    .mobile li {
        margin-top: 35px;
    }

    .mobile li a {
        color: #075985;
    }

    .img-logo {
        width: 15px;
        height: 40px;
        margin: 0 5px 5px 0;
    }
    .show {
        display: none;
    }
    .container-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    .container-actions_btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px 10px 10px;
        background: white;
        border-radius: 20px;
        color: #075985;
        width: 70px;
    }

    .container-actions_btn i {
        font-size: 25px;
        margin-bottom: 8px;
    }

    .container-actions_btn span {
        font-size: 8px;
    }

    /*  prueba menu down  */
    .from-toggle {
        margin: 10px 25% 0px;
        border-radius: 20px;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 50%;
        background: #307296;
        height: 35px;
        position: fixed;
        top: 90%;
        color: white;
        border: none;
        outline: none;
    }

    .from-toggle i {
        font-size: 20px;
    }

    .from-toggle:hover {
        background: #075985;
        transition: .5s;
    }
    .img-campana {
        width: 20px;
        margin-right: -30px;
    }

    .img-header {
        width: 32px;
        height: auto;
        margin-left: 18px;
    }

    .bar-toggle {
        display: block;
    }
    .input {
        display: flex;
    }
    .container-nav {
        height: 70px;
        margin: 0px 10px 10px;
    }

    .fa-bars-staggered:before,
    .fa-reorder:before,
    .fa-stream:before {
        margin-right: -20px;
    }

    .ul li,
    .ul button {
        margin-right: 10px;
    }

    .container-main_nav {
        height: 70px;
    }

    .container-main_nav {
        position: fixed;
        height: 70px;
        width: 100%;
        background: -webkit-linear-gradient(to right, #075985, #0891B2);
        background: linear-gradient(to right, #075985, #0891B2);
    }

    .container-hr {
        display: none;
    }

    /*-----------------------------*/
    .container-nav-items {
        padding-bottom: 70px;
    }

    ul.ul.mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        margin-top: -200px;
    }
    .container-hr {
        margin-left: 22px;
        margin-right: 22px;
        margin-top: -15px;
    }

    .section-container-info {
        z-index: 2;
        position: inherit;
        top: -100px;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }


    .section-container-info_user,
    .section-container-info_user-perfil {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-container-info_user {
        border-radius: 20px;
        padding: 20px 20px 20px 20px;
        margin: 0px 0px -32px 0px;
    }

    .section-container-info_user-perfil {
        padding: 0px 20px;
    }
    .section-container-info_user-perfil_item {
        padding: 0;
    }
    .img-employer {
        width: 80px;
        height: 80px;
        margin-left: 18px;
        margin-right: 18px;
    }

    .img-services {
        width: 45px;
        height: 45px;
    }

    .img-arrow {
        width: 20px;
        height: auto;
        margin-left: 18px;
    }

    .section-container-info_info {
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: none;
        background: #F3F4F6;
    }
    .section-container-info_info p {
        font-size: 10px;
        font-weight: bold;
    }
    .section-container-info_user-btn {
        margin: 40px 0px 40px 0px;
    }
    .btn-perfil {
        width: 100px;
        height: 40px;
        border-color: #d3d7da;
        background: white;
        border-radius: 5px;
    }

    .work1,
    .work2,
    .work3 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .work1,
    .work2 {
        border-right: inset;
    }



    .section-container-info_services {
        display: flex;
        flex-direction: column;
    }

    .section-container-info_services_item {
        padding: 30px;
        transition: ease-in-out 0.3s;
    }
    .section-container-info_services_item:hover, .section-container-info_other-noti:hover, .section-container-info_other-works:hover {
        box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
    }
    .section-container-info_services_item-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .section-container-info {
        display: flex;
        flex-direction: column;
    }

    .section-container-info_other {
        width: 100%;
    }

    .section-container-info_perfil-all {
        width: 100%;
        height: 1660px;
        padding-right: 0px;
        margin-top: 70px;
    }

    .section-container-info_other-noti,
    .section-container-info_other-works {
        transition: ease-in-out 0.3s;
        padding: 20px 20px 20px 20px;
    }
    .section-container-info_other-works_item,
    .section-container-info_other-works_item-work {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .section-container-info_other-works_item-info {
        margin: 0px 7px;
    }

    .section-container-info_other-works_item-info h4 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .img-work {
        width: 45px;
        height: 45px;
    }

    .section-container-info-item-2,
    .section-container-info_services,
    .section-container-info_other-noti,
    .section-container-info_other-works {
        background-color: white;
        border-radius: 15px;
    }

    .section-container-info-item-2 {
        height: 300px;
        border: none;
    }

    .mar {
        margin-top: 45px;
        border: none;
    }
    .section-container-info_services_item.top {
        border: none;
    }
}